<a href="https://colab.research.google.com/github/anirbanghoshsbi/.github.io/blob/master/instrumentlist" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
import numpy as np

In [2]:
data_link = 'https://raw.githubusercontent.com/anirbanghoshsbi/data/main/instruments.csv'

In [3]:
data=pd.read_csv(data_link)

In [4]:
data.head(2)

   Unnamed: 0  instrument_token  ...  segment exchange
0           0         272376070  ...  BCD-FUT      BCD
1           1         272086278  ...  BCD-FUT      BCD

[2 rows x 13 columns]

In [32]:
data.segment.unique()

array(['BCD-FUT', 'BCD', 'BCD-OPT', 'BSE', 'INDICES', 'CDS-FUT',
       'CDS-OPT', 'MCX-FUT', 'MCX-OPT', 'NFO-OPT', 'NFO-FUT', 'NSE'],
      dtype=object)

In [ ]:
for item in data.name.unique():
  if str(item).startswith('NIFTY'):
    print(item)

In [35]:
filtered_value=np.where((data['name'].str.contains('NIFTY'))&(data.segment=="NSE"))

In [36]:
data.loc[filtered_value]

        Unnamed: 0  instrument_token  ...  segment exchange
99487        99487           5440513  ...      NSE      NSE
99794        99794           2976001  ...      NSE      NSE
100210      100210           2543873  ...      NSE      NSE
100281      100281           7780353  ...      NSE      NSE
100282      100282           7565569  ...      NSE      NSE
100302      100302           4808449  ...      NSE      NSE
100465      100465           6199553  ...      NSE      NSE
100592      100592           4634113  ...      NSE      NSE
100885      100885           7571713  ...      NSE      NSE
100932      100932           2707457  ...      NSE      NSE
101146      101146           4305665  ...      NSE      NSE
101321      101321           2605057  ...      NSE      NSE
101322      101322           1884417  ...      NSE      NSE
101323      101323           1882369  ...      NSE      NSE

[14 rows x 13 columns]

In [38]:
filtered_value=np.where((data['name'].str.contains('BANK'))&(data.segment=="NSE"))

In [39]:
data.loc[filtered_value]

        Unnamed: 0  instrument_token  ...  segment exchange
99465        99465           5436929  ...      NSE      NSE
99480        99480           1510401  ...      NSE      NSE
99511        99511            579329  ...      NSE      NSE
99513        99513            210433  ...      NSE      NSE
99514        99514           1195009  ...      NSE      NSE
99515        99515           2928385  ...      NSE      NSE
99516        99516           1214721  ...      NSE      NSE
99611        99611           2763265  ...      NSE      NSE
99632        99632           3812865  ...      NSE      NSE
99689        99689           3831297  ...      NSE      NSE
99691        99691           1459457  ...      NSE      NSE
99710        99710           3513601  ...      NSE      NSE
99733        99733           2907905  ...      NSE      NSE
99794        99794           2976001  ...      NSE      NSE
99869        99869            261889  ...      NSE      NSE
100130      100130           5742849  ...      NSE      NSE
100140      100140            341249  ...      NSE      NSE
100271      100271           1270529  ...      NSE      NSE
100273      100273           2914817  ...      NSE      NSE
100291      100291            377857  ...      NSE      NSE
100295      100295           2863105  ...      NSE      NSE
100356      100356           4334849  ...      NSE      NSE
100361      100361           3663105  ...      NSE      NSE
100393      100393           1346049  ...      NSE      NSE
100412      100412           2393089  ...      NSE      NSE
100468      100468           1442049  ...      NSE      NSE
100549      100549            470529  ...      NSE      NSE
100588      100588            492033  ...      NSE      NSE
100594      100594           3855617  ...      NSE      NSE
100613      100613           2061825  ...      NSE      NSE
100715      100715           2912513  ...      NSE      NSE
101086      101086           2730497  ...      NSE      NSE
101134      101134           5376257  ...      NSE      NSE
101136      101136           3848193  ...      NSE      NSE
101173      101173           4708097  ...      NSE      NSE
101301      101301            779521  ...      NSE      NSE
101322      101322           1884417  ...      NSE      NSE
101468      101468           1522689  ...      NSE      NSE
101734      101734           2873089  ...      NSE      NSE
101741      101741           3898369  ...      NSE      NSE
101749      101749           2752769  ...      NSE      NSE
101761      101761           5744641  ...      NSE      NSE
101861      101861           3050241  ...      NSE      NSE

[43 rows x 13 columns]